<div class="row">
  <div class="form-group col-md-6 input-wrapper">
    <app-selected-category [category]="category" *ngFor="let category of selectedCategories" ></app-selected-category>
    <!-- <div class="col-md-6 pull-right form-control " style="display:inline-block" > -->
        <input class="pull-right col-md-9"  type="text"  [(ngModel)]="inputText"  (keydown)="onKeyDown($event)" (input)="onSearchChange($event)" >
    <!-- </div> -->
  </div>
</div>

  <div class="row">
    <app-category [category]="category" (categorySelected)="categorySelected($event)" *ngFor="let category of mainCategories"  ></app-category>
    <div class="category-image" (click) = "showOtherCategories=!showOtherCategories" *ngIf="otherCategories.length > 0" >
      <img src="/assets/arrow-down.jpg" class="pull-right" alt="">
  </div>
  </div>


  <div class="row" *ngIf="showOtherCategories" >
    <ul>
      <app-other-category [category]="category" (categorySelected)="categorySelected($event)" *ngFor="let category of otherCategories"  ></app-other-category>
    </ul>
  </div>