<div class="row">
  <div class="form-group col-md-6 input-wrapper">
    <app-selected-category [category]="category" *ngFor="let category of selectedCategories" ></app-selected-category>
        <input class="pull-right col-md-9" (focus)="onInputFocus()"  type="text"  [(ngModel)]="inputText"  (keydown)="onKeyDown($event)" (input)="onSearchChange($event)" >
  </div>
</div>

  <div class="row" *ngIf="mainCategories.length > 0 || otherCategories.length > 0">
    <app-category [category]="category" (categorySelected)="categorySelected($event)" *ngFor="let category of mainCategories"  ></app-category>
    <div class="category-image"  (click) = "toggleOtherCategoriesMenu()"   *ngIf="showOtherCategories" >
      <img [src]="menuOpen?'/assets/arrow-up.jpg':'/assets/arrow-down.jpg'" class="pull-right" alt="">
      <ul class="other-category-list" *ngIf="menuOpen" >
        <app-other-category [category]="category" (categorySelected)="categorySelected($event)" *ngFor="let category of otherCategories"  ></app-other-category>
      </ul>
  </div>
  </div>
